@import "vars";
@import "global";
@import "fonts";

// start header
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  height: 100px;
  align-items: center;
}
.header__box {
  display: flex;
  justify-content: space-between;
  a {
    margin-right: 31px;
  }
}
.btn {
  color: #ffffff;
  font-size: 14px;
  padding: 13px 18px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #0674ec;
  margin-right: 50px;
  margin-left: auto;
}
.header__box-inner {
  display: flex;
  justify-content: space-between;
}
.box__icons {
  margin-bottom: 17px;
}
.box__icons + .box__icons {
  margin-left: 15px;
}
.header__box-number {
  min-width: 22px;
  height: 22px;
  border-radius: 25px;
  padding: 3px;
  text-align: center;
  margin-left: 8px;
  margin-bottom: -3px;
  & span {
    font-family: "Quicksand-Medium", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.alarm-number {
  background-color: #ff6a6c;
}
.envelope-number {
  background-color: #62d03b;
}
.cart-number {
  background-color: #0674ec;
}

.user__foto {
  max-width: 50px;
  height: 50px;
  margin: 0 22px 0 30px;
}
.user__name {
  font-weight: 500;
  color: #333333;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 4px;
}
.user__balanse {
  color: #0674ec;
  font-size: 15px;
}
.header__inner-menu {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
}
.menu {
  & ul {
    display: flex;
  }
  & li {
    font-family: "Quicksand-Medium", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 25px;
    & a {
      color: #333333;
    }
  }
}
.header__search {
  width: 360px;
  border-radius: 34px;
  color: #898f96;
  font-size: 15px;
  line-height: 30px;
  min-width: 360px;
  padding: 15px 0;
}
.header__search {
  & form {
    max-width: 362px;
    position: relative;
  }
  input {
    width: 100%;
    border: none;
    border-radius: 23px;
    border: 1px solid #d9dfe5;
    color: #898f96;
    font-size: 15px;
    line-height: 30px;
    padding: 7px 95px 7px 25px;
    outline: none;
  }
  & button {
    width: 70px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #0674ec;
    border-radius: 23px;
    border: none;
  }
}
// stop header
// start search-product
.search-product {
  background: linear-gradient(
    to right,
    rgba(45, 80, 209, 1) 0%,
    rgba(68, 28, 124, 1) 100%,
    rgba(32, 124, 202, 1) 100%,
    rgba(125, 185, 232, 1) 100%,
    rgba(9, 47, 186, 1) 100%
  );
}
.search-product__inner {
  min-height: 726px;
  text-align: center;
  padding: 185px 10px 235px;
  position: relative;
}
.search-product__inner-title {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #f3f3f8;
  font-size: 60px;
  line-height: 70px;

  & span {
    font-family: "Quicksand-Bold", sans-serif;
    display: block;
    font-weight: 700;
  }
}
.search-product__inner-text {
  font-family: "Quicksand-Medium", sans-serif;
  color: #f3f3f8;
  font-size: 20px;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 68px;
  background-color: transparent;
}
.search-product__inner-btn {
  min-width: 190px;
  padding: 19px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.search-product__inner-btn + .search-product__inner-btn {
  margin-left: 30px;
}
.search-product__inner-btn:hover {
  background-color: #ffffff;
  color: #0674ec;
}
.search-product__inner-box {
  position: absolute;
  left: auto;
  right: auto;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 0 auto;
}
.inner-box1 {
  width: 1140px;
  height: 135px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  bottom: -67px;
  left: 0;
  right: 0;
  padding: 40px;
}
.inner-box2 {
  width: 1110px;
  height: 135px;
  opacity: 0.5;
  bottom: -54px;
  left: 0;
  right: 0;
}
.inner-box3 {
  width: 1080px;
  height: 135px;
  opacity: 0.5;
  left: 0;
  right: 0;
  bottom: -41px;
}
.search-product__inner-search {
  & form {
    display: flex;
    justify-content: space-between;
  }
  & button {
    min-width: 233px;
    border-radius: 4px;
    background-color: #0674ec;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 20px 68px;
    margin-left: 30px;
  }
  & input {
    width: 100%;
    display: block;
    background-color: #ffffff;
    padding: 20px 29px;
    border: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid #dcdcdc;
    color: #676767;
    font-size: 16px;
  }
}
.all__categories {
  color: #555555;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #dcdcdc;
  padding: 20px 40px 20px 20px;
  appearance: none;
}
.chevron-down {
  height: auto;
  margin: auto 0;
}
.chevron-down img {
  width: 13px;
  height: 8px;
  margin-left: -40px;
}
//stop search-product
// start denomination
.denomination__inner {
  display: flex;
  justify-content: space-between;
}
.denomination__inner-box {
  max-width: 433px;
  padding: 41px 35px 39px;
  margin: 185px 0 121px;
  text-align: center;
}
.denomination__box-img {
  margin-bottom: 35px;
  display: block;
}
.denomination__box-img img {
  width: 112px;
  height: 112px;
  background-size: cover;
  margin: 0 auto;
}
.denomination__box-title {
  color: #010101;
  font-size: 24px;
  margin-bottom: 34px;
}
.denomination__box-text {
  color: #555555;
  font-size: 16px;
  line-height: 30px;
}
.denomination__inner-box:hover {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
// stop denomination
//start slider
.slider__inner {
  display: flex !important ;
  justify-content: space-between;
  height: 483px;
}
.slider__inner-img {
  max-width: 568px;
  & img {
    height: 100%;
    background-size: cover;
    max-width: 568px;
  }
}
.slider__header {
  padding: 41px 29px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.slider__header-title h2 {
  color: #000000;
  font-size: 30px;
  line-height: 45px;
}
.slider__header-btn {
  width: 110px;
  height: 45px;
  border-radius: 23px;
  background-color: #7347c1;
}
.slick-arrow img {
  width: 8px;
  height: 14px;
}
.slick-arrow {
  position: absolute;
  background-color: #7347c1;
  border: none;
  top: -122px;
  outline: none;
}

.slick-prev {
  right: 105px;
}
.slick-next {
  right: 42px;
}
.slider__inner-box {
  max-width: 50%;
  padding: 50px 50px 24px;
  box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
  border-radius: 0 4px 4px 0;
  background-color: #ffffff;
}
.slider__box-title {
  color: #000000;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.slider__users {
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}
.slider__users-foto {
  margin-right: 9px;
}
.slider__user-name {
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  margin-right: 21px;
}
.slider__word-press {
  margin-left: 9px;
  color: #7347c1;
  font-size: 15px;
  line-height: 30px;
}
.slider__text-info p {
  margin-bottom: 40px;
  color: #555555;
  font-size: 16px;
  line-height: 30px;
}
.slider__user-job {
  padding-bottom: 44px;
  border-bottom: 1px solid #ececec;
}
.user__job {
  padding: 7px 14px;
  border-radius: 14px;
  background-color: #f1f3f6;
  color: #868c96;
  font-size: 15px;
}
.user__job + .user__job {
  margin-left: 7px;
}
.slider__user-revision {
  margin-top: 23px;
  display: flex;
  align-items: center;
  & img {
    display: inline-block;
  }
}
.slider__user-price {
  border-radius: 16px;
  background-color: #0674ec;
  color: #ffffff;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 19px;
  margin-right: 19px;
}
.slider__user-heart {
  margin-right: 10px;
  & span {
    color: #555555;
    font-size: 15px;
    line-height: 30px;
    margin-left: 10px;
  }
}
.slider__user-cart {
  color: #0674ec;
  font-size: 15px;
  line-height: 30px;
  margin-left: 9px;
  span {
    margin-left: 9px;
  }
}
.slider__user-star {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
}
.slider__user-rating {
  display: inline-block;
}
//stop slider
// start product
.product__title {
  padding: 44px 31px;
  color: #000000;
  font-size: 30px;
  line-height: 28px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  &-filter {
    color: #747b86;
    font-family: Quicksand;
    font-size: 16px;
    line-height: 32px;
  }
}
.product__inner {
  &-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-btn {
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 51px;
  }
  button {
    border-radius: 16px;
    background-color: #f1f3f6;
    padding: 3px 20px;
    border: none;
    outline: none;
    color: #747b86;
    font-size: 15px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
  }
}
.product__inner-btn {
  button {
    &.mixitup-control-active {
      background-color: #0674ec;
      color: #ffffff;
    }
  }
}

.product__item {
  max-width: 367px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
  }
  &-img {
    width: 100%;
    min-height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    background-position: center;
  }
  &-btn {
    padding: 14px 32px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    border: 1px solid #f4f4f4;
    color: #ffffff;
    font-family: "Quicksand-Medium", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 95px;
  }
  &-btn:hover {
    color: #0674ec;
    background-color: #fff;
  }
  &-content {
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
  }
  &-user-content {
    padding: 30px 39px 34px 30px;
  }
  &-name {
    color: #000000;
    font-family: "Quicksand-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
  }
  &-autor {
    display: flex;
    align-items: center;
    .avatar {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 7px;
    }
    span {
      color: #000000;
      font-size: 15px;
      line-height: 30px;
      margin-right: 20px;
    }
  }
  &-widget {
    display: flex;
    align-items: center;
    &-widget-avatar {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    span {
      color: #7347c1;
      font-size: 15px;
      line-height: 30px;
      margin-left: 9px;
    }
  }
  &-text {
    color: #555555;
    font-size: 16px;
    line-height: 30px;
  }
  &-star {
    margin-left: 16px;
  }
  &-revision {
    padding: 15px 39px 15px 30px;
    display: flex;
    align-items: center;
    border-top: solid 1px #ececec;
    &-prise {
      padding: 7px 17px;
      border-radius: 15px;
      background-color: #e6f1fd;
      margin-right: 13px;
      span {
        color: #0674ec;
        font-family: "Quicksand-Medium", sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }
    &-heart {
      span {
        margin-left: 6px;
        color: #6f7d8d;
        font-size: 15px;
      }
    }
    &-cart {
      margin-right: 0px;
      margin-left: auto;
    }
  }
}
.product__item-revision a img {
  display: inline-block;
}

.product__btn-info {
  left: 45px;
}
.product__btn-demo {
  right: 45px;
}
.product__bottom-btn {
  margin-top: 30px;
  text-align: center;
}
.product__bottom-btn button {
  padding: 13px 33px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #0674ec;
  color: #ffffff;
  font-size: 16px;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
}
// start customers
.customers__inner {
  display: flex;
  justify-content: space-between;
  padding: 101px 0;
  align-items: center;
}
.customers__item {
  text-align: center;
  &-statistics {
    font-size: 36px;
    margin-bottom: 14px;
  }
  &-title {
    font-size: 18px;
    color: #ffffff;
  }
  &-briefcase {
    color: #feb71d;
    margin-top: 50px;
  }
  &-download {
    color: #58c9e9;
    margin-top: 62px;
  }
  &-smile {
    color: #77de51;
    margin-top: 47px;
  }
  &-user {
    color: #ff6a6d;
    margin-top: 52px;
  }
}

// stop customers
